<!DOCTYPE html>
<html>
  <head>
    <title>Clique</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user.present? %>
      <div class="w-full flex flex-row-reverse pr-10">
        <%= link_to "Sign out", destroy_user_session_url, data: { 'turbo-method': :delete, 'turbo-target': '_top' }, class: "px-5 text-xl" %>
        <%= link_to "Groups", groups_url, class: "px-5 text-xl underline" %>
      </div>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
